@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;1,200;1,400&display=swap');
@import "reset";
@import "core/neat";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(45deg, red, blue);
  color: white;
  font-family: 'Source Code Pro', monospace;
  min-height: 100vh;
}

header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: antiquewhite;
}

.container-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-items {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: antiquewhite;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.filtering {
  padding: 1rem;
}

.todo li {
  flex: 1;
}

.complete-btn,
.delete-btn {
  background: rebeccapurple;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border: #ebf8e1 1px solid;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}